dist
node_modules
.github
.gitignore
.changeset

.eslintrc.cjs
.eslintignore

.prettierignore
.prettierrc.cjs

astro.config.ts

package-lock.json
package.json

tailwind.config.mjs

tsconfig.json

project_assets