---
import Card from './Card.astro'

type Props = {
    title: string
    orderMatters?: boolean
}

const { title, orderMatters = false } = Astro.props
---

<Card>
    <h2 class='mb-6 font-heading text-3xl font-black md:text-4xl'>{title}</h2>
    {
        orderMatters ? (
            <ol class='flex flex-col gap-y-6'>
                <slot />
            </ol>
        ) : (
            <ul class='flex flex-col gap-y-6'>
                <slot />
            </ul>
        )
    }
</Card>
