---
import Card from './Card.astro'
import type { HTMLTag } from 'astro/types'

type Props = {
    title: string
    orderMatters?: boolean
}

const { title, orderMatters = false } = Astro.props

const Tag: HTMLTag = orderMatters ? 'ol' : 'ul'
---

<Card>
    <h2 class='font-heading mb-6 text-3xl font-black md:text-4xl'>{title}</h2>
    <Tag class='flex flex-col gap-y-6'>
        <slot />
    </Tag>
</Card>
