---
import { Icon } from 'astro-icon/components'
import { Icon as IconType } from '@/types/content/Resume'
import { cn } from '@/utils/cn'

type Props = {
    title?: string
    icon?: IconType
    isLastItem: boolean
}

const { title, icon, isLastItem } = Astro.props

const withIcon = Astro.slots.has('withIcon')
---

<li class='flex flex-col gap-y-2 md:flex-row md:items-center md:gap-x-5 md:gap-y-0'>
    {
        (
            <>
                {withIcon && icon && (
                    <Icon
                        name={icon.name}
                        class={cn('h-auto max-h-12 w-12 shrink-0', icon.color)}
                    />
                )}
                <div class='grow'>
                    <h3 class='mb-1 text-xl/tight font-bold md:text-2xl/tight'>
                        {title ? title : <slot name='title' />}
                    </h3>
                    {withIcon ? (
                        <div class='flex flex-col justify-between gap-x-10 gap-y-1 md:flex-row'>
                            <slot name='withIcon' />
                        </div>
                    ) : (
                        <slot />
                    )}
                </div>
            </>
        )
    }
</li>

{
    !isLastItem && (
        <div
            class='rounded-full border-2 border-slate-300 dark:border-slate-600'
            aria-hidden='true'
        />
    )
}
