---
import { Icon } from 'astro-icon'
import { Icon as IconType } from '@/types/content/Resume'

type Props = {
    title?: string
    icon?: IconType
    isLastItem: boolean
}

const { title, icon, isLastItem } = Astro.props

const withIcon = Astro.slots.has('withIcon')
---

{
    withIcon ? (
        <li class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
            <Icon name={icon.name} class={'w-12 shrink-0 ' + icon.color} />
            <div class='grow'>
                <h3 class='mb-1 text-xl font-bold !leading-tight md:text-2xl'>
                    {title ? title : <slot name='title' />}
                </h3>
                <div class='flex flex-col justify-between gap-x-10 gap-y-1 md:flex-row'>
                    <slot name='withIcon' />
                </div>
            </div>
        </li>
    ) : (
        <li class='flex flex-col gap-y-2 md:flex-row md:gap-x-5 md:gap-y-0'>
            <div class='grow'>
                <h3 class='mb-1 text-xl font-bold leading-tight md:text-2xl'>
                    {title ? title : <slot name='title' />}
                </h3>
                <slot />
            </div>
        </li>
    )
}

{
    !isLastItem && (
        <div
            class='rounded-full border-2 border-slate-300 dark:border-slate-600'
            aria-hidden='true'
        />
    )
}
