---
import { HTMLAttributes } from 'astro/types'
import { cn } from '@/utils/cn'
import { cva, VariantProps } from 'cva'

const sectionStyles = cva({
    base: ['flex items-center justify-center', 'py-24 md:py-28', 'px-6'],
    variants: {
        fullscreen: {
            true: 'min-h-svh',
            false: null,
        },
    },
    defaultVariants: {
        fullscreen: false,
    },
})

const innerDivStyles = cva({
    base: ['flex flex-col items-center', 'w-full'],
    variants: {
        maxWidth: {
            '5xl': 'max-w-5xl',
            '6xl': 'max-w-6xl',
            '7xl': 'max-w-7xl',
        },
    },
    defaultVariants: {
        maxWidth: '6xl',
    },
})

type SectionAttributes = Omit<HTMLAttributes<'section'>, 'class'> & {
    outerClass: HTMLAttributes<'section'>['class']
}

type Props = SectionAttributes & {
    innerClass?: HTMLAttributes<'div'>['class']
} & VariantProps<typeof sectionStyles> &
    VariantProps<typeof innerDivStyles>

const { outerClass, innerClass, fullscreen, maxWidth, ...attributes } = Astro.props
---

<section
    class={cn(
        sectionStyles({
            fullscreen,
            class: outerClass,
        }),
    )}
    {...attributes}
>
    <div
        class={cn(
            innerDivStyles({
                maxWidth,
                class: innerClass,
            }),
        )}
    >
        <slot />
    </div>
</section>
