---
import { HTMLAttributes } from 'astro/types'

type Props = {
    background?: HTMLAttributes<'section'>['class']
    fullscreen?: boolean
    maxWidth?: 'max-w-5xl' | 'max-w-6xl' | 'max-w-7xl'
    class?: HTMLAttributes<'div'>['class']
    padding?: HTMLAttributes<'section'>['class']
    id?: HTMLAttributes<'section'>['id']
}

const {
    class: className,
    background = '',
    fullscreen = false,
    maxWidth = 'max-w-6xl',
    id,
    padding = 'px-6',
} = Astro.props
---

<section
    class=`flex ${fullscreen && 'min-h-small-screen'} items-center justify-center ${padding} py-24 md:py-28 ${background}`
    id={id}
>
    <div
        class={className
            ? className
            : `flex ${maxWidth} flex-col items-center gap-y-10 lg:gap-y-20 w-full`}
    >
        <slot />
    </div>
</section>
