---
import { Icon } from 'astro-icon/components'

type Props = {
    isExample?: boolean
}

const { isExample = false } = Astro.props

const selectId = isExample ? 'color-mode-example' : 'color-mode'
---

<div class='flex items-center'>
    <label class='mr-5 text-slate-200' for={selectId}>Color Mode</label>
    <div class='relative flex items-center font-medium select-none'>
        <Icon
            name='ph:sun-bold'
            class='pointer-events-none absolute left-2.5 inline size-5 text-slate-600 dark:hidden'
        />
        <Icon
            name='ph:moon-fill'
            class='pointer-events-none absolute left-2.5 hidden size-5 text-slate-400 dark:inline'
        />
        <select
            onchange='setColorMode(this.value)'
            id={selectId}
            class='appearance-none rounded-lg bg-slate-50 px-10 py-2 text-slate-800 dark:bg-slate-950 dark:text-slate-200'
        >
            <option value='light'>Light</option>
            <option value='dark'>Dark</option>
            <option value='system'>System</option>
        </select>
        <Icon
            name='ph:caret-down-bold'
            class='pointer-events-none absolute right-2.5 inline size-4.5 text-slate-600 dark:text-slate-400'
        />
    </div>
</div>

{
    isExample ? (
        <script is:inline>
            document.querySelector('#color-mode-example').value = getCurrentMode()
        </script>
    ) : (
        <script is:inline>
            document.querySelector('#color-mode').value = getCurrentMode()
        </script>
    )
}
