---
import { Icon } from 'astro-icon'

type Props = {
    isExample?: boolean
}

const { isExample = false } = Astro.props

const selectId = isExample ? 'color-mode-example' : 'color-mode'
---

<div class='flex items-center'>
    <label class='mr-5 text-slate-200' for={selectId}>Color Mode</label>
    <div class='relative flex select-none items-center font-medium'>
        <Icon
            name='ph:sun-bold'
            class='pointer-events-none absolute left-2.5 inline h-5 w-5 text-slate-600 dark:hidden'
        />
        <Icon
            name='ph:moon-fill'
            class='pointer-events-none absolute left-2.5 hidden h-5 w-5 text-slate-400 dark:inline'
        />
        <select
            onchange='setColorMode(this.value)'
            id={selectId}
            class='form-select rounded-lg border-0 bg-slate-50 pl-10 text-slate-800 transition-[outline] focus:outline-4 focus:outline-offset-4 focus:outline-emerald-600 focus:ring-0 dark:bg-slate-950 dark:text-slate-200'
        >
            <option value='light'>Light</option>
            <option value='dark'>Dark</option>
            <option value='system'>System</option>
        </select>
    </div>
</div>

{
    isExample ? (
        <script is:inline>
            document.querySelector('#color-mode-example').value = getCurrentMode()
        </script>
    ) : (
        <script is:inline>
            document.querySelector('#color-mode').value = getCurrentMode()
        </script>
    )
}
