---
import { siteConfig } from '@/config/siteConfig'
import SocialLinks from './SocialLinks.astro'
import ColorMode from './ColorMode.astro'
import SpecialLink from '@/components/PageElements/Generic/SpecialLink.astro'

import { Icon } from 'astro-icon/components'
---

<footer class='mt-auto bg-emerald-900 px-6 py-12 text-slate-50'>
    <div class='mx-auto flex max-w-6xl flex-col gap-y-10'>
        <div class='flex flex-col items-center justify-between gap-y-10 sm:flex-row'>
            <SpecialLink
                href='/'
                class={`
                   flex items-center gap-x-3
                   -my-2 px-3 py-2.5
                   before:bg-emerald-700
                `}
            >
                <Icon name={siteConfig.icon} class='size-8' aria-hidden='true' />
                <span class='font-heading text-2xl font-black'>{siteConfig.title}</span>
            </SpecialLink>
            <nav aria-label='main'>
                <ul class='flex items-center justify-center gap-x-5 text-xl font-semibold'>
                    {
                        siteConfig.links.map(({ path, label }) => (
                            <li>
                                <SpecialLink
                                    href={path}
                                    class={`
                                        px-3 py-2.5
                                        before:bg-emerald-700
                                    `}
                                >
                                    {label}
                                </SpecialLink>
                            </li>
                        ))
                    }
                </ul>
            </nav>
        </div>
        <hr class='rounded-full border-2 border-emerald-700' />
        <div class='-mt-2.5 flex flex-col items-center justify-between gap-y-10 sm:flex-row'>
            <SocialLinks />
            <ColorMode />
        </div>
    </div>
</footer>
