---
import { siteConfig } from '../../config/siteConfig'

import { Icon } from 'astro-icon/components'

import SpecialLink from '@/components/PageElements/Generic/SpecialLink.astro'
---

<nav aria-label='social'>
    <ul class='flex items-center justify-center gap-x-5 text-lg font-semibold md:gap-x-8'>
        {
            siteConfig.socials.map(({ platform, url, icon }) => (
                <li>
                    <SpecialLink
                        href={url}
                        aria-label={platform}
                        title={platform}
                        target='_blank'
                        class={`
                            flex
                            p-3
                            text-slate-50/70 transition-colors duration-200
                            before:bg-emerald-700 hover:text-slate-50/100
                            focus:text-slate-50/100 
                        `}
                    >
                        <Icon name={icon} class='size-8 md:size-9' aria-hidden='true' />
                    </SpecialLink>
                </li>
            ))
        }
    </ul>
</nav>
